<h4 class="d-flex justify-content-between"> 
  <span class="bg-dark bg-opacity-80 bg-gradient rounded text-white-50" style="font-size:48px; my-0 py-0">
    <span class="text-primary">Articles:</span>
    <%= current_user.posts.count %>
  </span>
  <span>
    <%= link_to "Créer un nouvel article", new_post_path, class: "btn btn-primary" %>
  </span>
</h4>

<p id="notice"><%= notice %></p>

<%= link_to "Par défaut", posts_path, class: "badge text-white bg-danger", style: "text-decoration:none;" %>
<%= link_to_unless_current "5", posts_path(items: 5), class: "badge text-white bg-primary", style: "text-decoration:none;" %>
<%= link_to_unless_current "10", posts_path(items: 10), class: "badge text-white bg-primary", style: "text-decoration:none;" %>
<br>
<br>
<%== pagy_bootstrap_nav(@pagy) %>

<% @posts.each do |post| %>
  <h1><a href="<%= post_path(post) %>" style="text-decoration:none;"><%= post.title %></a></h1>
    <br>
    <div class="container">
      <div class="d-flex justify-content-start">
        <%= render 'posts/upvote_link', post: post %>&nbsp;&nbsp;
        <%= render 'posts/like_count', post: post %>&nbsp;&nbsp;
        <%= render 'posts/downvote_link', post: post %>
      </div>
    </div>
    <br>

    <span>
      <h3>Contenu de l'article:</h3>
        <%= post.content %>
    </span>

    <br>

    <h3>Image de l'article:</h3>
    <% if post.images.attached? %>
      <% post.images.each do |attachment| %>
        <% if attachment.image? %>
          <%= image_tag attachment, width: "200px;" %>
          <%#= image_tag @post.image, width: "200px" %>
        <% elsif attachment.video? %>
          <video controls width="150" >
            <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>" />
          </video>
        <% elsif attachment.audio? %>
          <audio controls>
            <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
          </audio>
        <% else %>
          <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
        <% end %><br><br>

        <!--<b>Publier par: </b> <%#= post.users.distinct.pluck(:email) %><br><br>
        <b>Créateurs: </b> <%#= post.createur.distinct.pluck(:email) %><br><br>
        <b>Éditeurs: </b> <%#= post.designer.distinct.pluck(:email) %><br><br>
        <b>Éditeurs: </b> <%#= post.nouvel_utilisateur.distinct.pluck(:email) %><br><br>-->

      <%= link_to "Supprimer le fichier", purge_fichiers_path(attachment), method: :delete, data: { disable_with: "En cours..." }, class: "btn btn-sm btn-danger" %>
      <% end %>
    <% else %>
      Pas d'image
    <% end %>
    <br>
  <hr>
<% end %>