<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Images: </strong>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
        <%= image_tag image, width: "200px;" %>
      <%#= image_tag @post.image, width: "200px" %>
    <% end %>
  <% else %>
    Pas d'image
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id = current_user.username.capitalize %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
