<p id="notice"><%= notice %></p>

<div class="header">
  <h2>BlogSpirit</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h1>Dernier Article</h1>
      <h2><%= @post.title %></h2>
      <h5><%= @post.created_at %></h5>
      <% if @post.image.attached? %>
        <%= image_tag @post.image, width: "400px", height: "300px", class: "card-img-top" %>
        <div class="d-flex justify-content-end">
          <%= link_to "Supprimer le fichier", purge_image_post_path, method: :delete, data: { disable_with: "Suppression en cours..." }, class: "btn btn-sm btn-danger" %>
        </div>
      <% else %>
        Pas d'image
      <% end %>
      <p><%= @post.content %></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h1>Portfolio</h1>
      <% if @post.images.attached? %>
        <% @post.images.each do |attachment| %>
          <p><% if attachment.image? %>
            <%= image_tag attachment, width: "200px;" %>
          <% elsif attachment.video? %>
            <video controls width="150" >
              <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>" />
            </video>
          <% elsif attachment.audio? %>
            <audio controls>
              <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
            </audio>
          <% else %>
            <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
          <% end %>
          </p>
          <p>
            <%= link_to "Supprimer le fichier", purge_fichiers_path(attachment), method: :delete, data: { disable_with: "En cours..." }, class: "btn btn-sm btn-danger" %>
          </p>
        <% end %>
      <% else %>
        Pas d'image
      <% end %>
    </div>
    <div class="card">
      <h3>Suivez nous</h3>
      <p>Some text..</p>
      <div class="card-footer">
        Publier le <strong><%= @post.created_at %></strong><br>
        par - <strong><%= @post.user_id = current_user.username.capitalize %></strong>
        <div class="d-flex justify-content-end">
          <%= link_to "Editer", edit_post_path(@post), class: "btn btn-sm btn-warning" %>&nbsp; | &nbsp;<%= link_to "Retour à l'accueil", posts_path, class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>





<br><br><br><br><br>
