<%= form_with(model: @product) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container">
      <div class="row">
        <div class="col-8 col-sm-8 col-xxl-8 col-xl-8 col-md-8 col-lg-8 m-auto">

          <div class="card">
            <% if user_signed_in?%>
              <div class="card-body">
                <h1 align="center" class="text-uppercase">Ajouter un Nouveau Produit</h1>
                <p class="card-text">
                  <hr>
                  <% if current_user.has_role? :admin %>
                    <form class="col-12 col-sm-12 col-xxl-12 col-xl-12 col-md-12 col-lg-12 m-auto">
                      <div class="col-12">
                        <%= form.label :nom_du_produit %>
                        <%= form.text_field :name, required: true, class: "form-control" %>
                      </div>
                      <div class="col-3">
                        <%= form.label :prix_du_produit %>
                        <%= form.number_field :price, required: true, class: "form-control" %>
                      </div>
                      <div class="col-12">
                        <p>
                          <%= form.label :description_du_produit %>
                          <%= form.text_area :description, required: true, class: "form-control", style: "height: 200px" %>
                        </p>
                        <div class="d-flex justify-content-between">
                          <%= form.submit "Créer un nouveau produit", class: "btn btn-primary" %>
                          <%= link_to "Retour aux produits", products_path, class: "btn btn-danger" %>
                        </div>
                      </div>
                    </form>
                  <% end %>
                </p>

              </div>
            <% end %>
            <div class="card-footer d-flex justify-content-between">
              <h4 class="card-title"><span class="text-primary">Adresse Email: </span> <%= current_user.email %></h4>
              
              <div>Administrateur ? <%= boolean_label(current_user.has_role? :admin) %></div>
            </div>
            
          </div> <!-- Fin de card -->

        </div>
      </div>
    </div>
  <% end %>