<h1>Accueil</h1>

<% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, :method => 'delete' %>
<% else %>
  <%= link_to "Login", new_user_session_path, :method => 'get' %>
<% end %>

<% if user_signed_in? %>
  <% for user in @users %>

    <% if user.locked_at? %>
      <%= link_to ban_status(user), ban_user_path(user), method: :patch, data: { confirm: "Êtes vous sure de vouloir bannir cet utilisateur ?" }, class: "btn btn-sm btn-outline-dark" %><br><br>
      
      <b>Accès au site : </b><span class="badge bg-danger">Non</span><br>
      <b>Nom d'utilisateur: </b><%= user.username %><br>
      <b>Adresse Email: </b><%= user.email %><br>
    
    <% else %><br><hr>
      
      <%= link_to ban_status(user), ban_user_path(user), method: :patch, data: { confirm: "Êtes vous sure de vouloir bannir cet utilisateur ?" }, class: "btn btn-sm btn-outline-danger" %><br><br>
      
      <b>Accès au site : </b><span class="badge bg-success">Oui</span><br>
      <b>Nom d'utilisateur: </b><%= user.username %><br>
      <b>Adresse Email: </b><%= user.email %><br>
      
      <% if user.created_by_invite? && user.invitation_accepted? == false %>
        <%= link_to "Ré-envoyer une invitation", resend_invitation_user_path(user), method: :patch, class: "btn btn-sm btn-outline-primary", style: "text-decoration:none;text-hover:none;padding:1px 10px;" %><br>
      <% end %>
      <!--<% if user.created_by_invite?.present? %>
        <%= link_to "Ré-envoyer une invitation", resend_invitation_user_path(user), method: :patch %><br>
      <% else %>
        <%= link_to "Envoyer une invitation", new_user_invitation_path %><br>
      <% end %>-->
    <% end %>

    <% if user.invitation_accepted?  %>
      <b>Invitation accepté ?: </b><span class="badge bg-success">Oui</span><br>
    <% else %>
      <b>Invitation accepté ?: </b><span class="badge bg-danger">Non</span><br>
    <% end %>

    <% if user.created_by_invite? %>
      <b>Invité(e) par un(e) ami(e) || utilisateur: </b><span class="badge bg-success">Oui</span><br>
    <% else %>
      <b>Invité(e) par un(e) ami(e) || utilisateur: </b><span class="badge bg-danger">Non</span><br>
    <% end %>

    <% if user.invites.count == 0 %>
      <b>Invitation envoyer à un utilisateur: </b><span class="badge bg-dark"><%= user.invites.count %></span><br>
    <% else %>
      <b>Invitation envoyer à un utilisateur: </b><span class="badge bg-primary"><%= user.invites.count %></span><br>
    <% end %>
  <% end %><hr>

<% end %>