<!DOCTYPE html>
<html>
  <head>
    <title>Blogspirit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicons/favicon.ico' %>

  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%#= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# FontAwesome %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%# jQuery Library %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <%# Stripe %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>

  <%= render 'navbar/navbar' %>

  <div class="container mt-5">
    <%= flash[:error] %>
    <p class="notice badge bg-succes"><%= notice %></p>
    <p class="alert badge bg-danger"><%= alert %></p>
    <%= yield %>
  </div>

  </body>
</html>
